<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mailuser" value="10463082@qq.com" />
    <add key="mailto" value="10463082@qq.com;zanpen2000@163.com" />
    <add key="lastfilename" value="" />

    <add key="namecell" value="B3"/>
    <add key="idcell" value="E3"/>
    <add key="datecell" value="G3"/>
    <add key="companycell" value="C4"/>
    <add key="departcell" value="C5"/>
    <add key="contentcell" value="C17" />

  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>